<div class="modal" id="adminLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Administrador de Teatro Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group mb-3">
            <label for="userinput" class="mr-3">Username</label>
            <input type="username" [(ngModel)]="username" name="Username" class="form-control" id="userinput">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="passwordinput" class="mr-4">Password</label>
            <input type="password" [(ngModel)]="password" class="form-control" id="passwordinput" name="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
        (click)="checkLogin()">Login</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#adminLogin"
        [class.disabled]="loginState != 'logged'"
        routerLink="/admin">Go to Admin</button>
      </div>
    </div>
  </div>
</div>

<span *ngIf="loginState === 'logged'">
  <div class="alert alert-success" role="alert">
    You have logged in succesfully!
  </div>
</span>

<span *ngIf="loginState === 'not-logged'">
  <div class="alert alert-danger" role="alert">
    Username or Passwor incorrect, try again.
  </div>
</span>