<h1 class="animate__animated animate__lightSpeedInRight">Teatro</h1>


<div class="dropdown">
  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selectedTheatre?.TheaterName }}
  </button>
  <div class="dropdown-menu">
    <button *ngFor="let theatre of theatres" class="dropdown-item" type="button" (click)="selectTheatre(theatre)">{{ theatre.TheaterName }}</button>
  </div>
</div>
