<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<hr>

<div class="row mb-4">
  <h1 class="col-6 mb-4">Bienvenido <span class="badge badge-success">{{adminName}}</span></h1>
  <h1 class="col-6 mb-4">Configuraciones para Teatro: <span class="badge badge-success">{{theaterName}}</span></h1>
</div>

<p>
  <a class="btn btn-primary btn-lg mr-5 ml-4" data-toggle="collapse" href="#box1" role="button" aria-expanded="false" aria-controls="box1">Agregar Produccion</a>
  <button class="btn btn-primary btn-lg mr-5 ml-4" type="button" data-toggle="collapse" data-target="#box2" aria-expanded="false" aria-controls="box2">Agregar Empleado</button>
  <button class="btn btn-primary btn-lg mr-5 ml-4" type="button" data-toggle="collapse" data-target="#box3" aria-expanded="false" aria-controls="box3">Producciones</button>
</p>
<div class="row">
  <div class="col-3">
    <div class="collapse multi-collapse" id="box1">
      <div class="card card-body">
        <app-production-form></app-production-form>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="collapse multi-collapse" id="box2">
      <div class="card card-body">
        <app-employee-form></app-employee-form>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="collapse multi-collapse" id="box3">
      <div class="card card-body">
        aqui va todo
      </div>
    </div>
  </div>
</div>
